/* Legg til stil for nettsiden her */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(26, 81, 81);
}

#hoved {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(253, 255, 255);
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #000000;
    font-family: 'Teko', sans-serif;
    width:100%;
    overflow: hidden;
    padding: 20px 10px;
    font-size:xx-large;
  }

#regler h2 {
    color: #000000;
}

#regler ul {
    list-style-type: disc; /* Bruk disc, circle eller square for ulike listestiler */
}

#regler li {
    margin-bottom: 10px;
}

  .header p.logo {
    font-size: xx-large;
    color:#fff
  }
  

.form {
    margin-bottom: 20px;
    background-color:rgb(26, 81, 81);
    padding: 20px;
    border-radius: 5px;
    color:rgb(255, 255, 255)
}

button {
    padding: 20px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size:larger;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-weight: bold;
}

