/* Legg til stil for nettsiden her */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(86, 228, 228);
}

#hoved {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
}

.header {
    background-color: #1bc9a3;
    font-family: 'Teko', sans-serif;
    width:100%;
  }

  .header p.logo {
    font-size: xx-large;
    color:#fff
  }
  

.form {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-weight: bold;
}

