body { 
    background-color: #8ed1ae;
    font-family: Georgia, serif;
  }
  #hoved {
    width: 60%;                 
    margin: 50px auto;         
    padding: 40px;	            
    background-color: white; 	 
    border: 1px solid #cccccc;
  }
  h1, h2, h3 {
    font-family: Arial, sans-serif;
  }
  .checkboxradio > label {
    display: block;
  }
